/* Rating */
.rating {
    margin-top: 14%;
    display: flex;

}

.stars {
    padding: 5px;
    object-fit: cover;
    width: 25px;
    height: 25px;
}

@media only screen and (max-width: 834px) {
    .rating {
        margin: 0;
    }

    .stars {
        height: 15px;
        width: 15px;
    }
}